.seccion {
    padding: 10px;
    margin: 10px;
    border: solid 1px black
}

.titulo-seccion {
    border-bottom: solid 2px black;
}

table, tr, td, th {
    border: inset black 1px;
}
#div-imagen-noticia {
    height: 93%;
    width: 27%;
    background: yellow;
    border-radius: 1em;
    float: left;
    margin: 0.5em;
}
#div-texto-noticia {
    height: 93%;
    width: 65%;
    background: aqua;
    border-radius: 1em;
    float: right;
    margin: 0.5em;
}
#div-articulo { 
    height: 62%;
    width: 90%;
    background: #a4a4a4;
    border-radius: 1em;
    margin: 1em;
}
#div-tabla {
    height: 89%;
    width: 90%;
    background: #00ff15;
    border-radius: 1em;
    margin: 1em;
}#div-principal {
    background: blue;
    border-radius: 1em;
}
body {
    background-color: bisque;
}